@charset "UTF-8";
/* CSS Document */
* {
	background-color: #FFE4D6;
	text-align: center;
}

h1 {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    outline-style: dashed;
    outline-color: #7F5945;
    text-shadow: #7F2B00;
}
.buttonView {
	background-color:#FFB28A;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    padding: 100px;
}

.buttons {
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 4%;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 26px;
}

#red {
	background-color:#FF7775;
}

#red:hover {
    background-color: #7F3635;
    transition-duration: 1.6s;
}