@charset "UTF-8";
/* CSS Document */
* {
	background-color:#FF7775;
	text-align: center;
}

h1 {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    outline-style: dashed;
    outline-color: cyan;
    text-shadow: #1B7787;
}
.buttons {
	background-color:#CC91AD;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

.colorView {
	background-color: aliceblue;
    width: 60px;
    height: 60px;
    margin: 5px;
}

#blueButton {
	background-color:#2AB4CC;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:underline;
    display: inline-block;
    font-size: 26px;
}

#blueButton:hover {
	background-color: #1B7787;
}

#greenButton {
	background-color:#36FFAD;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:underline;
    display: inline-block;
    font-size: 26px;
}

#greenButton:hover {
	background-color: #1F855B;
}

#redButton {
	background-color:#FF7775;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:underline;
    display: inline-block;
    font-size: 26px;
}

#redButton:hover {
	background-color: #7F3635;
}

#redButton:hover, #blueButton:hover, #greenButton:hover {
    transition-duration: 10s;
}