@charset "UTF-8";
/* CSS Document */
* {
	background-color: #D6E9FF;
	text-align: center;
}

h1 {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    outline-style: dashed;
    outline-color: #003A7F;
    text-shadow: #1B7787;
}
.buttonView {
	background-color:#8AC0FF;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    padding: 100px;
}

.colorView {
	background-color: aliceblue;
}

.buttons {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 26px;
}

#blue {
    background-color: #2AB4CC;
}

#blue:hover {
	background-color: #1B7787;
}

#green {
	background-color:#36FFAD;
}

#green:hover {
	background-color: #1F855B;
}

#red {
	background-color:#FF7775;
}

#red:hover {
	background-color: #7F3635;
}

#red:hover, #blue:hover, #green:hover {
    transition-duration: 1.6s;
}