<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Buttons v2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons_v2.css')}}" media="screen" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/favicon.ico')}}" />
</head>

<body>
<!-- Content Section Start -->
<div>
    <h1>Buttons v2.</h1>
    <a href="/buttons"><p>Or something different</p></a>
</div>
<div class="buttonView">
    <button id="red" class="buttons">Click Me</button>
</div>
<div>
    <h2>The Color Value is: <span id="textValue"></span></h2>
</div>

<!-- Scripts Section Start -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".buttons").click(function(){
            $.ajax({url: "/get_rand_color", success: function(result){
                $("#textValue").html(result);
                $(".buttonView").css("background-color", result);
            }});
        });
    });
</script>
</body>
</html>
