<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Buttons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}" media="screen" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/favicon.ico')}}" />
</head>

<body>
<!-- Content Section Start -->
<div>
    <h1>Buttons.</h1>
    <a href="/buttons"><p>Or something different</p></a>
</div>
<div class="buttonView">
    <button id="red" class="buttons">Red</button>
    <button id="green" class="buttons">Green</button>
    <button id="blue" class="buttons">Blue</button>
</div>
<div class="colorView"><br /></div>
<div>
    <h2 id="textValue">Color RGB Value</h2>
</div>

<!-- Scripts Section Start -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".buttons").click(function(){
            $.ajax({url: "/get_color", data: {"key": this.id.valueOf()}, success: function(result){
                $("#textValue").html(result);
                $(".colorView").css("background-color", result);
            }});
        });
    });
</script>
</body>
</html>
