<!DOCTYPE html>
<html>
<head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}" media="screen" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/favicon.ico')}}" />
    <style type="text/css">
        .container {
            max-width: 500px;
            padding-top: 100px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                //$.ajax({url: "{{ url_for('static', filename='css/ajax_info.txt')}}", success: function(result){
                $.ajax({url: "static/css/ajax_info.txt", success: function(result){
                    $("#div1").html(result);
                }});
            });
        });
    </script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">\
    <p>My string: {{my_string}}</p>
    <p>Value from the list: {{my_list[3]}}</p>
    <p>Loop through the list:</p>
    <ul>
        {% for n in my_list %}
        <li>{{n}}</li>
        {% endfor %}
    </ul>
    {% for n in my_list %}
    <div>
        {% if n <= 0: %}
        <p></p>
        {% else: %}
        <p>There are {{n}} dinosaurs</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div id="div1">
    <h2>Let jQuery AJAX Change This Text</h2>
</div>
<button>Get External Content</button>
</body>
</html>